

@media (max-width:768px)
{
    .app-container
    {
        width: 70%;
        transition: all ease 0.5s;
        height: 100vh !important;
    }
    .today
    {
        font-size: 4vw;
    }
    .pera
    {
        font-size: 2.7vw;
    }
   .progress-bar
   {
    height: 1.9vw;
    width: 90%;
   }
   .error-lable
   {
    font-size: 2vw;
   }
   .goal-conatiner
   {
      padding: 4vw 2vw;
      margin-top: 10vw;
   }
   .custom-checkbox
   {
    height: 4vw;
    width: 4vw;
   }
   .input-goal
   {
    font-size: 2vw;
   }

}
@media (max-width:500px)
{
    .app-container
    {
        width: 90%;
        height: 100vh;
        transition: all ease 0.9s;
    }
    .today
    {
        font-size: 5vw;
    }
    .pera
    {
        font-size: 4vw;
        font-weight: 700;
    }
    .error-lable
    {
     font-size: 4vw;
     margin-top: 2vw;
    }
    .goal-conatiner
    {
       padding: 6vw 3vw;
    }
    .custom-checkbox
    {
     height: 6vw;
     width: 6vw;
    }
    .input-goal
    {
     font-size: 5vw;
     padding: 1.5vw .9vw;
    }
 
}

.completed .custom-checkbox
{
    background-color: #48a300;
}
.checkicon 
{
    display: none;
}
.completed .checkicon
{
    display: block;
}
.completed .input-goal
{
    color: #48a300;
    text-decoration: line-through;
    font-weight: 600;
}
.error-lable
{
    display: none;
}
.show-error .error-lable
{
    display: block;
}

.progress-value 
{
    width: 0%;
    padding: 0%;
    overflow: hidden;
    transition: width 0.2s ease;
}
.popup .popupblock
{
    display: none;
    transition: all ease 0.5s;
}
.popup .blurblock
{
    display: none;
    transition: all ease 0.5s;

}
